<section class="6u">
    <h3>Formulario de contacto</h3>
    <form>
        <div class="row half collapse-at-2">
            <div class="6u">
                <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="6u">
                <input type="email" name="email" id="email" placeholder="Email" />
            </div>
        </div>
        <div class="row half">
            <div class="12u">
                <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
            </div>
        </div>
        <div class="row half">
            <div class="12u">
                <ul class="actions">
                    <li><input type="submit" class="button alt" value="Enviar" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
