<div class="container">
	<div class="row ">
		<div class="6u">
			<div class="row collapse-at-2">
				<section class="8u">
					<h3>Links Interesantes</h3>
					<ul class="links">
						<li><a target="_blank" href="http://interruptorgeek.com">Blog de Frecuencio</a></li>
						<li><a target="_blank" href="https://yawin.es">Las cosas de Yawin</a></li>
						<li><a target="_blank" href="https://franiglesias.github.io/">The talking Bit</a></li>
					</ul>
				</section>
			</div>
		</div>
		{% include contactform.html %}
	</div>
</div>
