<section class="wrapper style1">
    <div class="container">
        <div class="row double">
            <section class="4u">
                <div class="box highlight">
                    <a href="https://github.com/jakala">
                        <i class="icon major fa-github"></i>
                    </a>
                    <h3>Desarrollos</h3>
                    <p>En mi repositorio de github puedes encontrar varios proyectos relacionados con PHP y Symfony.</p>
                </div>
            </section>
            <section class="4u">
                <div class="box highlight">
                    <i class="icon major fa-brain-circuit"></i>
                    <h3>3d y Arduino</h3>
                    <p>Listado de proyectos que estoy haciendo en mi tiempo libre, ayudandome de una impresora 3d y de electronica basica con arduino.</p>
                </div>
            </section>
            <section class="4u">
                <div class="box highlight">
                    <i class="icon major fa-docker"></i>
                    <h3>Servidores con docker</h3>
                    <p>Estoy montando un servidor casero con varias herramientas.</p>
                </div>
            </section>
        </div>
    </div>
</section>
